# Ignore security and cors configuration files
/src/main/java/com/capstone/favicon/config/SecurityConfig.java
/src/main/java/com/capstone/favicon/config/CorsConfig.java

HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/


.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### ec2 ###
favicon-key.pem

application.properties
SecurityConfig.java
requirement.txt
기상청_월별_processed.csv
기후_감기_건강보험심사평가원.csv
venv
ubuntu@ec2-54-180-238-119.ap-northeast-2.compute.amazonaws.com
python