## 환경 설정 및 인증
/org
.env
*.pem
favicon-key.pem


## 빌드 및 의존성
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/


## IDE 설정

### IntelliJ
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclips/ STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/


## NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


## VS Code
.vscode/


## 맥 시스템 파일
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store


## 기타
requirement.txt
기상청_월별_processed.csv
기후_감기_건강보험심사평가원.csv
venv
ubuntu@ec2-54-180-238-119.ap-northeast-2.compute.amazonaws.com
python